@model IEnumerable<AtrevetGroup8.Models.User>

@{
    ViewData["Title"] = "Index";
}


<div class="container-xl">
    <div class="row g-2 align-items-center new-stilos">
        <div class="mx-3 col titulo-Header">
            <!-- Page pre-title -->
            <div class="page-pretitle">
                LISTA
            </div>
            <h2 class="page-title">
                CLIENTES
            </h2>
        </div>
    </div>
    <hr class="line" />
</div>

<div class="container-xl Stilos-tabla">
    <table id="example" class="table dataTables_wrapper display responsive nowrap">
        <thead>
            <tr>
                <th>
                    Nombres
                </th>
                <th>
                    Apellidos
                </th>
                <th>
                    Ci
                </th>
                <th>
                    Correo Electronico
                </th>
                <th>
                    Celular
                </th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.names)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lastnames)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ci)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cellphone)
                    </td>
                    <td>
                        <a class="icon-borrar dropdown-item" asp-action="Delete" asp-route-id=""><i class="mr-2 fas fa-trash-alt"></i>Borrar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

@*para la Impresion de Datos*@
@section Scripts {
    <script>
        $(document).ready(function () {
            var table = $('#example').DataTable({
                lengthChange: false,
                pageLength: 10,
                buttons: [
                    {
                        extend: 'print',
                        text: '<i class="fas fa-print"></i>', // Icono de impresión
                        title: 'Datos de Clientes', // Título personalizado para la impresión
                        customize: function (win) {
                            // Obtiene la fecha actual
                            var currentDate = new Date().toLocaleDateString();
                            // Personaliza el contenido del documento de impresión
                            $(win.document.body)
                                .prepend('<h2 style="color: rgb(17, 75, 122); font-family: Arial, sans-serif;">SERVITEC</h2>'); // Agrega un título personalizado antes de la tabla
                            $(win.document.body)
                                .prepend('<h6>Fecha: ' + currentDate + '</h6>'); // Agrega la fecha antes de la tabla
                            // Modifica otros elementos según sea necesario, como agregar estilos adicionales
                            $(win.document.body).find('h2').css({ 'text-align': 'start', 'font-size': '20px', 'margin-bottom': '20px' }); // Estilos para el título
                            $(win.document.body).find('h6').css({ 'text-align': 'start', 'font-size': '14px', 'margin-bottom': '20px' }); // Estilos para la fecha
                            $(win.document.body).find('table').addClass('print-table'); // Agrega una clase CSS para estilos adicionales de la tabla
                            $(win.document.body).find('table tr').find('td:last-child, th:last-child').remove(); // Elimina la última columna de la tabla en la impresión
                        }
                    },
                    {
                        extend: 'excel',
                        text: '<i class="fas fa-file-excel"></i>', // Icono de Excel
                    },
                    {
                        extend: 'pdf',
                        text: '<i class="fas fa-file-pdf"></i>', // Icono de PDF
                    },
                    {
                        extend: 'colvis',
                        text: '<i class="fas fa-columns"></i> Mostrar/Ocultar Columnas', // Icono de mostrar/ocultar columnas
                    }
                ],
                // Personalización del buscador
                language: {
                    // Cambia el texto del campo de búsqueda
                    search: "Buscar registros:",
                    // Personaliza el texto para mostrar el rango de registros visualizados
                    paginate: {
                        first: "Primero",
                        last: "Último",
                        next: "Siguiente",
                        previous: "Anterior"
                    },
                    // Personaliza el texto para el total de registros
                    info: "Mostrando _START_ a _END_ de _TOTAL_ registros",
                    // Personaliza el texto cuando no hay resultados
                    infoEmpty: "Mostrando 0 a 0 de 0 registros",
                    // Personaliza el texto cuando se cargan los datos
                    infoFiltered: "(filtrados de un total de _MAX_ registros)",
                    // Personaliza el mensaje cuando no hay registros coincidentes
                    zeroRecords: "No se encontraron registros coincidentes",
                    // Personaliza el mensaje cuando se cargan los datos
                    loadingRecords: "Cargando...",
                }
            });

            table.buttons().container()
                .appendTo('#example_wrapper .col-md-6:eq(0)');
        });

    </script>
}