@model IEnumerable<AtrevetGroup8.Models.User>

@{
    ViewData["Title"] = "TopBadClients";
}

<h1>Los Peores Usuarios</h1>

<div style="padding: 10px">
    <form id="myForm" method="get">
        <select name="opcion" id="opcion" class="form-control" onchange="submitForm()">
            <option> Elige una opcion</option>
            <option value="TopClients">Top 20</option>
            <option value="TopBadClients">Pesimos Clientes</option>
            <option value="ClientRetals">Numero de alquileres x cliente</option>
            <option value="RejectedOffersClients">Numero de rechazos x clientes</option>
        </select>
    </form>
</div>

<div class="container-xl Stilos-tabla">
    <table class="table dataTables_wrapper display responsive nowrap">
        <thead>
            <tr>
                <th>
                    Nombres
                </th>
                <th>
                    Apellidos
                </th>
                <th>
                    Ci
                </th>
                <th>
                    Correo Electronico
                </th>
                <th>
                    Celular
                </th>
                <th>
                    Calificacion
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.names)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lastnames)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ci)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cellphone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.rating)
                    </td>
                    <td>
                        <a class="icon-borrar dropdown-item" asp-action="Delete" asp-route-id=""><i class="mr-2 fas fa-trash-alt"></i>Borrar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>